
*.db
.ssh
.storage
.cloud
.google.token
tts.yaml
tts
hacs
home-assistant.log
home-assistant.log.*
home-assistant_v2
home-assistant_v2.db
deps
zigbee2mqtt
id_rsa*
secrets.yaml
secrets
known_devices.yaml

